@import 'feta';

// div{
// 	outline: 1px solid black;
// }


$break-mobile-3: 375px;
$break-mobile-2: 321px;
$break-mobile-1: 280px;

body {
	float: left; 
	width: 100%;
	text-align: center;
}

.head {
	margin-top: 4px;
	font-size: 16px;
    margin-bottom: 4px;
    text-align: center;
    font-family: $sans;
    color: #4a4a4a;
    font-weight: 500;
}

.subhead {
	font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    font-family: $mono;
    color: #848484;
}

.key {
	margin-bottom: 10px;
	.key-item {
		img {
			width: 14px;
    		position: relative;
    		top: 2px;
		}

		font-size: 12px;
		font-family: $sans;
		color: #848484;
		display: inline-block;
		margin: 0 8px;
	}
}

.the-buttons {

	width: 100%;
	float: left;
	text-align: center;
	padding: 8px;




	.ac-start, .ac-pause, .ac-prev, .ac-next {
		display: none;
		width: 15px;
		height: 16px;
		fill: $grey;
		cursor: pointer;
		margin: 0 4px;

		&.active {
			display: inline-block;

			&:hover {
				fill: $grey-darkest;
			}
		}

	}

	.ac-prev, .ac-next {
		padding-bottom: 2px;
	}

	.ac-prev {
		margin-right: 7px;
	}

}




.row {
	width: 100%;
	float: left;
	margin: 0 8px;
}

.nixon {
	.hedcut {
		margin-top: 54px;
	}

	.day-count {
		display: none;
	}
}

.trump {

	.hedcut {
		margin-top: 16px;
	}
	
}


.hedcut {
	float: left;
	width: 10%;
	text-align: center;

	img {
		width: 100%;
		max-width: 40px;
		display: inline-block;
	}

	span {
		width: 100%;
		float: left;
		font-family: $sans;
		color:  #4a4a4a;
		font-size: 12px;
		margin-top: 2px;
	}

}


.chart {
	float: left;
	width: 85%;
	height: 120px;
	position: relative;

	.axis {
		path, line {
			stroke: $grey-light;
			shape-rendering: crispEdges;
		}

		text {
			fill: $grey-dark;
			font-family: $mono;
		}
	}

	// .icon {
	// 	fill: $grey;
	// }

	.dot {
		fill: $grey;
		cursor: pointer;

		circle, path {
			stroke-width: 1;
			stroke: #fff;
		}


		&.active, &.active circle {
			fill: #e74e29;
		}
	}

	.day-count {
		position: absolute;
		padding: 3px 0 2px 0;
		background-color: white;
		font-family: $mono;
		color: #4a4a4a;
		font-size: 11px;
		text-align: center;
		top: -10px;
		outline: 1px solid $grey;
		pointer-events: none;

	}

	.scrubber {
		
		cursor: ew-resize;

		rect.draggable {
			fill: #fff;
			//fill: $grey-lighter;
		}

		rect.drag-handle {
			fill: $grey;
		}

		line {
			stroke: $grey-darker;
			stroke-width: 1;
			stroke-dasharray: 4,2;
		}

		// &.is-mobile {
		// 	cursor: ns-resize;
		// }

		
	}

	.text-box {
		position: absolute;
		padding: 4px;
		font-family: $mono;
		//background-color: $grey-lightest;
		z-index: 11;
		line-height: 1.4;
		max-width: 120px;
		min-width: 160px;
		display: none;
		color: #4a4a4a;
		text-align: left;

		&.active {
			display: inherit;
		}

		h2 {
			font-size: 11px;
			color: #e74e29;
			//letter-spacing: .5;
			//margin-bottom: 2px;
		}

		p {
			font-size: 12px;
			color: #4a4a4a;
			font-family: $sans;
		}
	}


	&.is-mobile {
		.scrubber {
			cursor: ns-resize;
		}

	}

}


@media screen and (max-width: $break-mobile-3) {
	
	// div, svg {
	// 	outline: 1px solid tomato;
	// }

	body {
		// background-color: #ccc;
		text-align: center;
	}

	.the-buttons {
		margin-bottom: 8px;

		.ac-pause, .ac-start, .ac-prev, .ac-next {
			margin-left: 15px;
			margin-right: 15px;
		}
	}

	.row {
		float: none;
		display: inline-block;
		width: 25%;
		margin: 0;

		&.nixon {
			margin-right: -2px;
			.day-count {
				display: none;
			}

			.text-box {
				text-align: right;
			}
		}

		&.trump {
			margin-left: -2px;
			.day-count {
				//display: none;
			}

			.text-box {
				text-align: left;
			}
		}
	}

	.hedcut {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin-top: 0 !important;

		img {
			width: 100%;
			max-width: 40px;
		}

	}

	.chart {
		display: inline-block;
		width: 100%;
		height: 400px;

		.text-box {
			max-width: auto;
			min-width: auto;
		}

	}

	






}

