{{#extend "base"}}
{{#content "main"}}

<h2 class="head">Watergate Vs. Russiagate</h2>
<p class="subhead">A tale of two investigations</p>

<div class="nixon row">
	<div class="hedcut">
		<img src="img/nixon.png"/>
		<span>Nixon</span>
	</div>
	<div class="chart"></div>
</div>

<div class="trump row">
	<div class="hedcut">
		<img src="img/trump.png"/>
		<span>Trump</span>
	</div>
	<div class="chart"></div>
</div>


<div class="the-buttons">
	<div class="btn prev">←PREV</div>
	<div class="btn next">NEXT→</div>
	<div class="btn play">PLAY</div>
	<div class="btn pause">PAUSE</div>
</div>

{{/content}}
{{/extend}}
