{{#extend "base"}}
{{#content "main"}}

<div class="key">
	<div class="key-item">
		<img src="img/star.png"/>
		Lead to investigation
	</div>
	<div class="key-item">
		<img src="img/diamond.png"/>
		Investigation event
	</div>
	<div class="key-item">
		<img src="img/circle.png"/>
		Other
	</div>
</div>

<div class="the-buttons">

	<svg class="animation-control ac-prev active">
		<path d="M10,0a.82.82,0,0,1,.52,1.44L2.14,8.37l8.38,6.16a.82.82,0,1,1-1,1.31L.33,9.06a.82.82,0,0,1,0-1.29L9.52.19A.81.81,0,0,1,10,0Z">
	</svg>

	<!--<svg class="animation-control ac-prev active" width="36" height="36" viewBox="0 0 36 36">
		<g transform="translate(18,18), scale(2), rotate(180)">
		<path d="M 7,0 -6,5 -6,-6 Z"/>
		</g>
	</svg>-->

	<svg class="animation-control ac-start" data-action="startAnimation">
		<path d="M13.89,7.08,3.88,1.3a1.06,1.06,0,0,0-1.6.92V13.78a1.06,1.06,0,0,0,1.6.92l10-5.78A1.06,1.06,0,0,0,13.89,7.08Z" transform="translate(-2.28 -1.15)"/>
	</svg>
	
	<svg class="animation-control ac-pause active" data-action="stopAnimation">
		<rect x="7.08" width="4.09" height="14.33" rx="1.04" ry="1.04"/>
		<rect width="4.09" height="14.33" rx="1.04" ry="1.04"/>
	</svg>

	<svg class="animation-control ac-next active">
		<path d="M.82,16A.82.82,0,0,1,.3,14.56L8.71,7.63.33,1.47A.82.82,0,1,1,1.3.16l9.22,6.78a.82.82,0,0,1,0,1.29L1.33,15.81A.81.81,0,0,1,.82,16Z">
	</svg>

	<!--<svg class="animation-control ac-next active" width="36" height="36" viewBox="0 0 36 36">
		<g transform="translate(18,18), scale(2)">
		<path d="M 7,0 -6,5 -6,-6 Z"/>
		</g>
	</svg>-->

</div>



<div class="nixon row">
	<div class="hedcut">
		<img src="img/nixon.png"/>
		<span>Nixon</span>
	</div>
	<div class="chart"></div>
</div>

<div class="trump row">
	<div class="hedcut">
		<img src="img/trump.png"/>
		<span>Trump</span>
	</div>
	<div class="chart"></div>
</div>



<div class="icons"></div>

{{/content}}
{{/extend}}
